<!DOCTYPE html>
<html>
	<head>
    		<title>@ViewData["Title"] - Nvsp</title>
    		<link rel="icon" href="~/images/eci-icon.ico" type="image/x-icon">
    		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

    		<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    		<link href="~/css/bootstrap-flatly.min.css" rel="stylesheet" />
    		<link href="~/css/style.css" rel="stylesheet" type="text/css" />
    		<link href="~/css/all.min.css" rel="stylesheet" />
    		<link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    		<link href="~/css/animations.css" rel="stylesheet" />
    		<link href="~/css/fonts.css" rel="stylesheet" />
    		<link href="~/css/main.css" rel="stylesheet" class="color-switcher-link" />
    		<script src="~/js/jquery-2.1.4.js"></script>
    		<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    		<style>
        		.label-danger {
			color: #fff; 
		        background-color: #f1200a;
        		}

        		.line-height-body-default {
            			line-height: 0.67em;
        		}
    		</style>
	</head>
	<body>
    		<input type="hidden" id="hdnLanguageArray" />
    		<div id="preloader" class="preloader" style="z-index:8000;">
        		<div class="preloader_image"></div>
    		</div>
    		<div id="dvLoading2" class="lds-dual-ring" style="z-index: 7000; display: none;"></div>
    		<div class="clearfix"></div>

    		<div id="knowAcModal" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<div class="row">
							<div class="col-md-11 text-center">
								<h4 class="modal-title">
                                					Map
								</h4>
                        				</div>
							<div class="col-md-1 text-right">
								<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">&times;</button>
							</div>
						</div>
                			</div>
					<div class="modal-body">
						<div id="know_my_AC_partial"></div>
                			</div>
                			<div class="modal-footer">
                    				<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
    		<div id="canvas">
			<div id="box_wrapper">                     
				<header class="page_header header_white toggler_right">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-5 col-sm-12">
								<a href="/" class="logo top_logo">
									<img src="~/images/logo.png" />
								</a>
							</div>
							<div class="col-md-7 col-sm-12">
								<nav class="mainmenu_wrapper text-right">
									<ul class="mainmenu sf-menu">
										<li class="active">
											<a asp-page="/Index">Home</a>
										</li>
										<li>
											<a asp-page="/About">About Us</a>
										</li>
										<partial name="_LoginPartial" />
									</ul>
								</nav>
								<span class="toggle_menu">
									<span></span>
								</span>
							</div>
						</div>
					</div>            
				</header>

				@RenderBody()
			
<footer class="ds parallax clear_parallax page_features columns_margin_bottom_30">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="thin" style="font-size:22px">Other Important</h2>
          <a href="https://eci.gov.in/eci_main1/Links.aspx" class="theme_button color1" target="_blank">
            <i class="rt-icon2-link"></i>Link to States/UT CEO's
          </a>
          <a href="https://ecisveep.nic.in/" class="theme_button color2">
            <i class="rt-icon2-star-outline"></i> Voter Education
          </a>
          <a href="https://eci.gov.in/eci_main1/tm.aspx" class="theme_button color1" target="_blank">
            <i class="fa fa-external-link"></i> Polling Process
          </a>
          <a href="https://eci.gov.in/eci_main1/evm1.aspx" class="theme_button color2" target="_blank">
            <i class="fa fa-info-circle"></i>EVM Machine
          </a>
          <a href="https://eci-citizenservices.eci.nic.in/" class="theme_button color1" target="_blank">
            <i class="fa fa-info-circle"></i>Complains & Suggestions
          </a>
        </div>
      </div>
    </div>
  </footer>



				<footer class="page_footer ds columns_padding_25">
					<div class="container-fluid toppadding_20">
						<div class="row">
							<div class="col-md-7 col-sm-12">
								<div class="widget widget_text bottommargin_10">
									<a href="/" class="logo top_logo small_logo 0">
										<span class="logo_text">
											<span class="site-name black">
												<span class="highlight">Contact</span> Us
												</span>
											</span>
									</a>
									<p class="bottommargin_0">
										For details of eligibility criteria or any other additional information related to electoral forms, kindly visit <a href="https://eci.gov.in"><b class="link animate">https://eci.gov.in</b></a>
                                					</p>
									<p class="bottommargin_0">
										For any other technical feedback or issues on the portal kindly send your feedback to <a href="mailto:ecitechsupport@eci.gov.in?Help Desk" target="_top">
										<b class="techlink animate">ECI Technical Support</b>
										</a>
									</p>
									<div>
										<div class="media small-teaser">
											<div class="media-left">
												<i class="flaticon-phone-call highlight"></i>
											</div>
											<div class="media-body">
												Toll free Number :1800111950
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-5 col-sm-6">
								<div class="widget widget_popular">
									<span class="logo_text logo">
										<span class="site-name black">
											<span class="highlight">Other</span> Links
										</span>
									</span>
									<ul class="media-list">
										<li class="media">
											<div class="media-body">
												<h4>
													<a href="http://results.eci.gov.in/" target="_blank">
														Election Commission of India
													</a>
												</h4>
											</div>
										</li>
										<li class="media">
											<div class="media-body">
												<h4>
													<a href="#">
														Chief Electoral Officer
													</a>
												</h4>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</footer>
				<section class="ds page_copyright section_padding_15 with_top_border_container">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center text-white">
								<p>National Voter's Service Portal &copy; Copyright 2019. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</section>

        		</div>
		</div>

    	<script src="~/js/jquery-ui.min.js"></script>
		<script src="~/js/compressed.js"></script>
		<script src="~/js/main.js"></script>
		<script src="~/js/jquery_1.19.1-validate.js"></script>

    	<link href="~/css/jquery.toast.min.css" rel="stylesheet" />
		<script src="~/js/jquery.toast.min.js"></script>
		<script src="~/js/toasterNotifications.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<link href="~/css/toastr.css" rel="stylesheet" />
		<script src="~/js/toastr.min.js"></script>
		<script src="~/js/site.js"></script>
		<script>
			function preventBack() 
			{
				window.history.forward();
			}
        		
			setTimeout("preventBack()", 0);
			window.onunload = function () { null };
			window.onpopstate = function (e) 
			{
				var lastEntry = customHistory.pop();
				history.pushState(lastEntry.data, lastEntry.title, lastEntry.location);
        		}

    		</script>

		<script type="text/javascript">
        		$(".Datevalidate").change(
				function () 
				{
					var dateInput = $(this).val();
					if (dateInput.length == 10) 
					{
						var dateReg = /^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{4})$/;
						var data = dateInput.match(dateReg)
						if (!data) 
						{
							showWarningToast('Please enter valid date.');
							$(this).val('');
						}
					}
					else 
					{
						showWarningToast('Please enter valid date.');
						$(this).val('');
					}
				}
			);

			$('#btnIncFont').click(function () 
			{
				var selectedFont = $('body').css('font-size');
				if (selectedFont != "18px")
                			$('body').css('font-size', (parseInt(selectedFont) + 1));
				else 
				{
					console.log("inseide else" + selectedFont);
				}
			});

			$('#btnDecFont').click(function () 
			{
				var selectedFont = $('body').css('font-size');
				if (selectedFont != "10px") 
                			$('body').css('font-size', (parseInt(selectedFont) - 1));
				else 
				{
					console.log("inseide else" + selectedFont);
				}
			});
		</script>
    		@await RenderSectionAsync("Scripts", required: false)
	</body>
</html>
