@page
@model Nvsp.Pages.AboutModel
@{
}

<section class="ls section-content-min-height toppadding_10">
                <div class="container">
                    <ul class="breadcrumb">
                        <li class="active">
        <a href="/" title="Home">Home</a>
         &gt; 
    About Us
</li>
                    </ul>
                </div>

  <section class="page_breadcrumbs ds black parallax section_padding_top_100 section_padding_bottom_100">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2>About Us</h2>
          <ol class="breadcrumb darklinks">
            <li>
              <a href="/">
                Home
              </a>
            </li>
            <li class="active">About Us</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

<section class="ls columns_margin_bottom_30">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <table class="table table-responsive" title="About Us" style="color:#000;text-align:justify">
            <thead>
              <tr>
                <th scope="col">#</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>
                    India is a Socialist, Secular, Democratic Republic and the largest democracy in the World. The
                    modern Indian nation state came into existence on 15th of August 1947. Since then free and fair
                    elections have been held at regular intervals as per the principles enshrined in the Constitution,
                    Electoral Laws and System.
                  </p>
                  <p class="text1">
                    The Constitution of India has vested in the Election Commission of India the superintendence,
                    direction and control of the entire process for conduct of elections to Parliament and Legislature
                    of every State and to the offices of President and Vice-President of India.
                  </p>
                  <p>
                    Election Commission of India is a permanent Constitutional Body. The Election Commission was
                    established in accordance with the Constitution on 25th January 1950. The Commission celebrated
                    its Golden Jubilee in 2001.
                  </p>
                  <p>
                    Originally the commission had only a Chief Election Commissioner. It currently consists of Chief
                    Election Commissioner and two Election Commissioners.<br>
                    For the first time two additional Commissioners were appointed on 16th October 1989 but they had a
                    very short tenure till 1st January 1990. Later, on 1st October 1993 two additional Election
                    Commissioners were appointed. The concept of multi-member Commission has been in operation since
                    then, with decision making power by majority vote.
                  </p>
                  <p>
                    The Commission has a separate Secretariat at New Delhi, consisting of about 300 officials, in a
                    hierarchical set up.
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

