@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="ls section-content-min-height toppadding_10">
	<div class="container">
        	<ul class="breadcrumb">
                        <li class="active">
				Home
			</li>
		</ul>
        </div>

	<section class="ls section_padding_top_20 section_padding_bottom_10">
        	<div class="container-fluid">
            		<div class="isotope_container isotope row masonry-layout columns_margin_bottom_20" style="position: relative; height: 496.188px;">
			<div class="isotope-item col-lg-3 col-md-3 col-sm-3 col-xs-12" style="position: absolute; left: 0%; top: 0px;">
				<div class="after_cover hoverable-banner overflow_hidden">
					<table class="bottommargin_10 table table-hover" id="table-color">
                                		<thead>
                                    			<tr>
                                        			<th class="rounded-top-left-right">
									<h5 class="bottommargin_0 text-center line-height-body-default" style=" line-height:1.67em">
                                                Login/Register to Avail following Facilities
                                            				</h5>
                                        			</th>
							</tr>
						</thead>
						<tbody>
                                    			<tr>
                                        			<td>
									<label>
										<i class="fa fa-arrow-circle-o-right" aria-hidden="true">
										</i> &nbsp;Registration for new elector
									</label>
								</td>
							</tr>
                                    			<tr>
                                        			<td>
									<label>
										<i class="fa fa-arrow-circle-o-right" aria-hidden="true">
										</i> &nbsp;Registration of overseas elector
									</label>
								</td>
							</tr>
                                    			<tr>
                                        			<td>
									<label>
										<i class="fa fa-arrow-circle-o-right" aria-hidden="true">
										</i> &nbsp;Deletion or Objection in Electoral Roll
									</label>
								</td>
							</tr>
							<tr>
                                        			<td>
									<label>
										<i class="fa fa-arrow-circle-o-right" aria-hidden="true">
										</i> &nbsp;Correction of Entries
									</label>
								</td>
							</tr>
                                    			<tr>
                                        			<td>
									<label>
										<i class="fa fa-arrow-circle-o-right" aria-hidden="true">
										</i> &nbsp;Transposition within AC
									</label>
								</td>
							</tr>
                                    			<tr>
                                        			<td>
									<label>
										<i class="fa fa-arrow-circle-o-right" aria-hidden="true">
										</i> &nbsp;Migration to another AC
									</label>
								</td>
							</tr>
							<tr>
                                        			<td>
									<label>
										<i class="fa fa-arrow-circle-o-right" aria-hidden="true">
										</i> &nbsp;Download e-EPIC
									</label>&nbsp;&nbsp;
									<span class="label label-danger">NEW! </span>
								</td>
							</tr>
                                    			<tr>
                                        			<td>
									<label>
										<i class="fa fa-arrow-circle-o-right" aria-hidden="true">
										</i> &nbsp;e-KYC
									</label>&nbsp;&nbsp;
									<span class="label label-danger">NEW! </span>
								</td>
							</tr>
							<tr class="text-center">
                                        			<td>
									<a href="https://www.nvsp.in/Account/Login" class="btn btn-info btn-block">Login/Register</a>
								</td>
							</tr>
						</tbody>
                            		</table>
				</div>
			</div>

                	<div class="isotope-item col-lg-3 col-md-3 col-sm-3 col-xs-12" style="position: absolute; left: 25%; top: 0px;">
                    		<div class="with_padding rounded overflow_hidden main_bg_color3 after_cover with_radial_highlight hoverable-banner with_image">
                        		<div class="bg_teaser" style="background-image: url(&quot;/Content/images/banner1.png&quot;);">
                            			<img src="~/images/banner1.png">
                        		</div>
                        		<h4 class="semibold topmargin_0">
                            			<span class="number">02</span>
                            			Search in <br>Electoral <br>Roll
                        		</h4>
					<div class="media-links">
                            			<a asp-page="/Voters/ElectoralSearch" class="abs-link" target="_blank"></a>
                        		</div>
                    		</div>
                	</div>
                	<div class="isotope-item col-lg-3 col-md-3 col-sm-3 col-xs-12" style="position: absolute; left: 50%; top: 0px;">
                    		<div class="with_padding rounded overflow_hidden after_cover hoverable-banner with_image" style="background-size: 100%;background-color:#2d2d81">
                        		<img src="~/images/voter-portal.jpg">
                        
                        		<div class="media-links">
                            			<a href="http://voterportal.eci.gov.in/" target="_blank" class="abs-link"></a>
                        		</div>
                    		</div>
                	</div>
                	<div class="isotope-item col-lg-3 col-md-3 col-sm-3 col-xs-12" style="position: absolute; left: 75%; top: 0px;">
                    		<div class="with_padding rounded overflow_hidden main_bg_color after_cover with_radial_highlight hoverable-banner with_image">
                        		<div class="bg_teaser" style="background-image: url(&quot;/Content/images/banner3.png&quot;);">
                            			<img src="~/images/banner3.png">
                        		</div>
                        		<h4 class="semibold topmargin_0 bottommargin_5">
                            			<span class="number">04</span>
			                            Forms
                        		</h4>
					<div class="media-links">
                            			<a asp-page="/Forms/Index" class="abs-link"></a>
                        		</div>
                    		</div>
                	</div>

                	<div class="isotope-item col-lg-3 col-md-3 col-sm-3 col-xs-12" style="position: absolute; left: 25%; top: 235px;">
                    		<div class="with_padding rounded overflow_hidden main_bg_color4 after_cover with_radial_highlight hoverable-banner with_image">
                        		<div class="bg_teaser" style="background-image: url(&quot;/Content/images/banner5.png&quot;);">
                            			<img src="~/images/banner5.png">
                        		</div>
                        		<h4 class="semibold topmargin_0">
                            			<span class="number">06</span>
                            				Download Electoral <br>Roll PDF
                        		</h4>
					<div class="media-links">
                            			<a href="https://www.nvsp.in/Home/DownloadPdf" class="abs-link"></a>
                        		</div>
                    		</div>
                	</div>
                
                	<div class="isotope-item col-lg-3 col-md-3 col-sm-3 col-xs-12" style="position: absolute; left: 50%; top: 235px;">
                    		<div class="with_padding rounded overflow_hidden main_bg_color5 after_cover with_radial_highlight hoverable-banner with_image">
                        		<div class="bg_teaser" style="background-image: url(&quot;/Content/images/banner4.png&quot;);">
                            			<img src="~/images/banner4.png">
                        		</div>
                        		<h4 class="semibold topmargin_0">
                            			<span class="number">05</span>
                            				Know Your
                        		</h4>
                        		<ul>
		                        	<li>Assembly/Parliamentary Constituency Details</li>
	                            		<li>BLO/Electoral Officers Details</li>
        	                    		<li>Political Party Representative</li>
                        		</ul>

                        		<div class="media-links">
                            			<a href="https://www.nvsp.in/Home/KnowBoothNofficers" class="abs-link" target="_blank"></a>
                        		</div>
                    		</div>
                	</div>
                	<div class="isotope-item col-lg-3 col-md-3 col-sm-3 col-xs-12" style="position: absolute; left: 75%; top: 235px;">
                    		<div class="with_padding rounded overflow_hidden main_bg_color2 after_cover with_radial_highlight hoverable-banner with_image">
                        		<div class="bg_teaser" style="background-image: url(&quot;/Content/images/banner2.png&quot;);">
						<img src="~/images/banner2.png">
                        		</div>
                        		<h4 class="semibold topmargin_0">
                            			<span class="number">03</span>
                          			Track Application Status
                        		</h4>
					<div class="media-links">
                            			<a href="https://www.nvsp.in/Forms/trackstatus" target="_blank" class="abs-link"></a>
                        		</div>
                    		</div>
                	</div>
            	</div>
        </div>
    </section>

    <div id="NVSP_Modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-body">
                    <div id="nvsp_info">
                        <div id="welcomeDialog" style="margin-top: 0px;">
                            <div class="main" style="background-color: white;color: black;">
                                <div style="padding:15px 15px 15px;border: 4px solid rgb(42, 127, 200);color: white;">
                                    <h4 style="color: rgb(234, 99, 99);">Welcome to Electors Verification Program</h4>

                                    <div style="text-align: right">
                                        <input style="background-color: #ED5757; color: white;max-width: 12.6em;white-space: normal; padding-left: 2.2em; padding-right: 2.2em;" type="button" id="continue" value="जारी रखें Continue" class="" data-dismiss="modal">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
