@page
@model Nvsp.Pages.Voters.ElectoralSearchModel
@{
}
<section class="ls section_padding_top_20 section_padding_bottom_10">
  <ul>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">विवरण द्वारा खोज/Search by Details</a>
      <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">पहचान-पत्र क्र. द्वारा खोज/Search by EPIC No.</a>
    </div>
  </ul>

  <div class="tab-content" id="nav-tabContent">
    
    <div class="tab-pane" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <p>Search by details</p>
    </div>

    <div class="tab-pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <p>Search by EPIC Number</p>
    </div>
  </div>
</section>